<style type="text/css">
#productForm .inputGroupContainer .form-control-feedback,
#productForm .selectContainer .form-control-feedback {
    top: 0;
    right: -15px;
}
</style>

<form id="productForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Price</label>
        <div class="col-sm-3 inputGroupContainer">
            <div class="input-group">
                <input type="text" class="form-control" name="price" />
                <span class="input-group-addon">$</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Amount</label>
        <div class="col-sm-3 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon">&#8364;</span>
                <input type="text" class="form-control" name="amount" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Color</label>
        <div class="col-sm-3 selectContainer">
            <select class="form-control" name="color">
                <option value="">Choose a color</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="red">Red</option>
                <option value="yellow">Yellow</option>
                <option value="white">White</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Size</label>
        <div class="col-sm-3 selectContainer">
            <select class="form-control" name="size">
                <option value="">Choose a size</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
            </select>
        </div>
    </div>
</form>