/* --- Variables --- */
/* --- Reset --- */
a,
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
pre,
.hljs {
  background: transparent;
}
.hll {
  background-color: #ffffcc;
  display: block;
  width: 100%;
}
body {
  font-family: 'open sans';
}
h1,
h2,
h3,
h4 {
  font-family: 'Lato';
}
/* --- Ads --- */
#carbonads {
  position: absolute;
  right: 0;
  top: 0;
  width: 180px;
  margin: 0;
  padding: 25px;
  font-size: 10px;
  z-index: 100;
}
#carbonads .carbon-text,
#carbonads .carbon-poweredby {
  display: block;
  color: #999;
  margin-top: 10px;
}
#carbonads .carbon-text:hover,
#carbonads .carbon-poweredby:hover {
  color: #08c;
  text-decoration: none;
}
@media (max-width: 1199px) {
  #carbonads {
    visibility: hidden;
  }
}
@media (min-width: 1200px) {
  #carbonads {
    visibility: visible;
  }
}
/* --- Helpers --- */
.doc-hr {
  background: #e5e5e5;
  height: 1px;
  margin: 30px auto;
  max-width: 300px;
}
.doc-notification {
  /*background-color: #ecf0f1;*/
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .doc-notification {
    display: none;
  }
}
.doc-sample-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.doc-sample-list li {
  position: relative;
}
.doc-sample-list li i {
  position: absolute;
  right: 0;
}
.doc-sample-error a,
.doc-sample-error i {
  color: #a94442;
}
.doc-share-button {
  margin: 0 auto;
  text-align: center;
}
.doc-share-button label {
  background: transparent !important;
}
/* --- Header --- */
.doc-nav-shown .doc-nav {
  background-color: #191919;
  display: block;
  width: 280px;
  z-index: 1;
}
.doc-nav-shown .doc-logo {
  left: 290px;
}
.doc-nav-shown .doc-content-wrapper {
  margin-left: 280px;
}
.doc-nav-shown #carbonads {
  visibility: hidden;
}
.doc-nav {
  bottom: 0;
  height: 100%;
  display: none;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
}
.doc-nav ul {
  padding-top: 10px;
  text-align: right;
  text-transform: uppercase;
}
.doc-nav li {
  list-style-type: none;
  padding-right: 20px;
}
.doc-nav li a {
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 0 0 0 20px;
  height: 40px;
  line-height: 40px;
}
.doc-nav li.doc-nav-active {
  border-left: 3px solid #3498db;
}
.doc-nav .doc-hr {
  background: #7f8c8d;
  margin: 15px auto;
  width: 50%;
}
.doc-creator {
  color: #fff;
  margin-top: 30px;
  text-align: center;
}
.doc-creator a {
  color: #fff;
}
.doc-creator i {
  color: #c0392b;
}
.doc-creator img {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  margin: 10px 0;
}
.doc-creator .btn {
  background: #3498db;
  text-transform: uppercase;
}
.doc-creator .btn:hover {
  color: #fff;
}
.doc-logo {
  background: #3498db;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
}
.doc-logo:focus,
.doc-logo:hover {
  color: #fff;
}
/* --- Footer --- */
.doc-footer {
  border-top: 1px solid #ecf0f1;
  padding: 50px 0;
  position: relative;
  text-align: center;
}
.doc-footer p {
  margin-bottom: 15px;
}
.doc-footer ul {
  list-style: none;
}
.doc-footer li {
  display: inline-block;
  padding: 0 2px;
}
.doc-footer .btn {
  background: #3498db;
  color: #fff;
  font-size: 20px;
  margin: 5px 15px;
}
.doc-footer .btn:hover {
  color: #fff;
}
/* --- Home --- */
.doc-center-wrapper {
  text-align: center;
}
.doc-center-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.doc-center-container {
  display: inline-block;
  vertical-align: middle;
}
.doc-home-counter {
  color: #3498db;
}
.doc-home-intro {
  background-color: #2c3e50;
  color: #fff;
  padding-bottom: 20px;
}
.doc-home-intro h1 {
  font-size: 40px;
  line-height: 1.2;
  margin: 60px 0 30px 0;
}
.doc-home-intro h1 a {
  color: #f1c40f;
}
.doc-home-intro .btn {
  background: #3498db;
  color: #fff;
  font-size: 30px;
  margin: 5px;
  text-transform: uppercase;
}
.doc-home-intro .btn:hover {
  color: #fff;
}
.doc-home-intro a {
  color: #ccc;
}
.doc-home-intro h3 {
  color: #ccc;
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.doc-home-feature h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.doc-home-feature .col-sm-4 {
  margin-bottom: 40px;
}
.doc-home-feature i {
  background: #bdc3c7;
  border-radius: 75px;
  color: #ecf0f1;
  font-size: 90px;
  line-height: 150px;
  height: 150px;
  width: 150px;
}
.doc-home-feature h4 {
  font-size: 30px;
  text-transform: uppercase;
}
.doc-home-feature p {
  margin: 0 auto;
  width: 75%;
}
.doc-home-feature .btn {
  background: #3498db;
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.doc-home-feature .btn:hover {
  color: #fff;
}
.doc-home-contributor {
  background-color: #111;
  padding-bottom: 30px;
}
.doc-home-contributor h2 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 30px;
}
.doc-home-contributor .doc-hr {
  background: #666;
}
.doc-home-contributor p {
  font-size: 30px;
}
.doc-home-contributor p a {
  color: #fff;
  padding: 0 20px;
}
.doc-home-contributor .btn {
  font-size: 20px;
  text-transform: uppercase;
  border-color: #fff;
  color: #fff;
}
.doc-home-contributor ul {
  height: 300px;
  margin: 40px 0;
  opacity: 0.5;
  overflow: hidden;
}
.doc-home-contributor li {
  display: inline-block;
  padding: 8px 8px 8px 0;
}
.doc-home-contributor li img {
  border-radius: 30px;
  width: 60px;
  height: 60px;
}
.doc-home-tweet h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.doc-home-tweet .col-sm-4 {
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
.doc-home-tweet .col-sm-4 img {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 20px;
}
.doc-home-tweet .col-sm-4 blockquote {
  border-left: none;
  font-size: 14px;
  margin: 0 0 10px 80px;
  padding: 0;
  text-align: left;
}
.doc-home-tweet .col-sm-4 span {
  display: block;
  text-align: right;
}
.doc-home-tweet p {
  margin-top: 20px;
}
.doc-home-tweet .btn {
  background: #3498db;
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.doc-home-tweet .btn:hover {
  color: #fff;
}
@media (max-width: 767px) {
  .doc-center-wrapper:before {
    height: auto;
  }
  .onepage-wrapper .section {
    height: auto !important;
  }
  .doc-home-intro h3 {
    position: static;
  }
}
/* --- Download --- */
.doc-plan span {
  font-size: 40px;
  font-weight: 700;
}
.doc-plan .btn {
  background: #3498db;
  color: #fff;
  margin: 5px;
  text-transform: uppercase;
}
.doc-plan .btn:hover {
  color: #fff;
}
.doc-sellfy-button {
  background-image: url('../img/sellfy-button.png');
  display: inline-block;
  width: 162px;
  height: 32px;
}
.doc-sellfy-button span {
  display: block;
  text-align: center;
  line-height: 32px;
  color: #595959;
  font-weight: 600;
  font-size: 13px;
  padding-left: 96px;
}
.doc-gumroad-button {
  background: #ffffff url('../img/gumroad-button-bar.jpg') repeat-x;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 2px;
  color: #999;
  display: inline-block;
  font-style: normal;
  line-height: 50px;
  padding: 0 15px;
  text-shadow: none;
  text-decoration: none;
}
.doc-gumroad-button span {
  background-image: url('../img/gumroad-button-logo.png');
  background-size: cover;
  height: 17px;
  width: 16px;
  display: inline-block;
  margin-bottom: -3px;
  margin-right: 15px;
}
/* --- Page --- */
.doc-content-container {
  padding-bottom: 40px;
}
.doc-content-container h2 {
  font-weight: bold;
  padding-bottom: 15px;
}
.doc-content-container code {
  background: #fff;
}
.doc-content-container pre {
  word-wrap: normal;
}
.doc-content-container pre code {
  white-space: pre;
}
.doc-list {
  margin: 10px 0 10px 15px;
}
.doc-alert {
  border-left: 5px solid #1ABC9C;
  font-family: 'cardo';
  font-size: 18px;
  font-style: italic;
  margin: 20px 0 20px -20px;
  padding-left: 15px;
}
.doc-alert.doc-alert-warning {
  border-left-color: #c0392b;
}
.doc-alert.doc-alert-info {
  border-left-color: #1ABC9C;
}
.doc-heading {
  border-bottom: 1px solid #ecf0f1;
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.doc-heading h1 {
  font-size: 50px;
  font-weight: 700;
  padding: 50px 0 20px 0;
}
.doc-edit-btn {
  background: #3498db;
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}
.doc-edit-btn:hover {
  color: #fff;
}
.doc-demo {
  margin-bottom: 15px;
}
.doc-demo .tab-pane {
  padding: 10px 15px;
}
.doc-demo .tab-content > .active {
  border: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
}
.doc-demo pre {
  border: none;
  margin: 0;
  padding: 0;
}
.doc-demo li:before {
  content: '';
}
/* --- TOC --- */
.doc-content-container h2,
.doc-content-container h3,
.doc-content-container h4,
.doc-content-container h5,
.doc-content-container h6 {
  position: relative;
}
.doc-content-container h2 .toc-anchor,
.doc-content-container h3 .toc-anchor,
.doc-content-container h4 .toc-anchor,
.doc-content-container h5 .toc-anchor,
.doc-content-container h6 .toc-anchor {
  position: absolute;
  top: 0;
  right: 0;
}
.doc-toc {
  margin-top: 20px;
}
.doc-toc .nav > .active > a,
.doc-toc .nav > .active:hover > a,
.doc-toc .nav > .active :focus > a {
  border-left: 2px solid #3498db;
}
.doc-toc .nav .nav {
  display: none;
}
.doc-toc .nav > .active > ul {
  display: block;
}
.doc-toc .nav > li > a {
  padding-top: 4px;
  padding-bottom: 4px;
}
.doc-toc .nav .nav > li > a {
  font-size: 90%;
}
.doc-toc a.toc-link-2 {
  padding-left: 25px;
}
.doc-toc .toc-link-3 {
  padding-left: 50px;
}
.doc-toc .toc-link-4 {
  padding-left: 75px;
}
@media (min-width: 992px) {
  .doc-toc.affix {
    position: fixed;
    top: 0;
  }
  .doc-toc.affix,
  .doc-toc.affix-bottom {
    width: 213px;
  }
}
@media (min-width: 1200px) {
  .doc-toc.affix,
  .doc-toc.affix-bottom {
    width: 263px;
  }
}
/* --- Post --- */
.doc-post h2 {
  text-align: center;
}
.doc-post-meta {
  text-align: center;
}
.doc-post-meta img {
  border-radius: 40px;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
/* --- Pagination --- */
.doc-pagination {
  float: left;
  margin: 30px 0;
  width: 100%;
}
.doc-pagination a,
.doc-pagination span {
  display: block;
  float: left;
  width: 50%;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
}
.doc-pagination span {
  color: #bfbfbf;
}
.doc-pagination a:hover {
  background-color: #44b1f6;
  text-decoration: none;
  color: #fff;
  border-color: #44b1f6;
}
.doc-pagination .doc-pagination-older {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.doc-pagination .doc-pagination-newer {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #e5e5e5;
}
/* --- Heart --- */
.doc-heart {
  color: #c0392b;
  -webkit-animation: heart-beat 1s linear infinite;
  -moz-animation: heart-beat 1s linear infinite;
  -ms-animation: heart-beat 1s linear infinite;
  animation: heart-beat 1s linear infinite;
}
@keyframes heart-beat {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes heart-beat {
  0% {
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes heart-beat {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes heart-beat {
  0% {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
