---
layout: default
title: API
permalink: /api/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>API</h1>
        <p>Collection of public methods that help you do additional jobs</p>
        {% include edit-button.html %}
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% include api/usage.html %}

                <div class="doc-hr"></div>

                {% include api/api.html %}
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>