---
layout: default
title: Getting Started
permalink: /getting-started/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Getting Started</h1>
        <p>Getting used with BootstrapValidator</p>
        {% include edit-button.html %}
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% include getting-started/what-included.html %}

                <div class="doc-hr"></div>

                {% include getting-started/usage.html %}

                <div class="doc-hr"></div>

                {% include getting-started/example.html %}
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>