<section>
    <h3 id="dynamic-option">Dynamic option</h3>

    <p>Some validators have option which its value could be change dynamically.</p>
    <p>For example, the <a href="/validators/zipCode/">zipCode validator</a> has the <code>country</code> option that can be changed dynamically a select element.</p>

    <p>The dynamic option can be determined by:</p>
    <ul class="doc-list">
        <li>A string</li>
        <li>Name of field which defines the value</li>
        <li>Name of function which returns the value</li>
        <li>A function returns the value</li>
    </ul>

    <p>In the third and fourth cases, the callback function must follow the format:</p>

{% highlight javascript %}
function(value, validator, $field) {
    // value is the value of field
    // validator is the BootstrapValidator instance
    // $field is the jQuery element representing field element
}
{% endhighlight %}

    <h4 id="dynamic-option-validators">Supported validators</h4>

    <p>Below is the list of validators supporting dynamic option. Refer to specific validator document to see the full list of options.</p>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Validator</th>
                <th>Dynamic option</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/validators/between/">between validator</a></td>
                <td><code>min</code>, <code>max</code></td>
            </tr>
            <tr>
                <td><a href="/validators/choice/">choice validator</a></td>
                <td><code>min</code>, <code>max</code></td>
            </tr>
            <tr>
                <td><a href="/validators/greaterThan/">greaterThan validator</a></td>
                <td><code>value</code></td>
            </tr>
            <tr>
                <td><a href="/validators/iban/">iban validator</a></td>
                <td><code>country</code></td>
            </tr>
            <tr>
                <td><a href="/validators/id/">id validator</a></td>
                <td><code>country</code></td>
            </tr>
            <tr>
                <td><a href="/validators/lessThan/">lessThan validator</a></td>
                <td><code>value</code></td>
            </tr>
            <tr>
                <td><a href="/validators/phone/">phone validator</a></td>
                <td><code>country</code></td>
            </tr>
            <tr>
                <td><a href="/validators/stringLength/">stringLength validator</a></td>
                <td><code>min</code>, <code>max</code></td>
            </tr>
            <tr>
                <td><a href="/validators/vat/">vat validator</a></td>
                <td><code>country</code></td>
            </tr>
            <tr>
                <td><a href="/validators/zipCode/">zipCode validator</a></td>
                <td><code>country</code></td>
            </tr>
        </tbody>
    </table>

    <div class="doc-alert doc-alert-info">
        If you develop your own validator which support dynamic option, the <a href="/api/#get-dynamic-option">getDynamicOption()</a> method might be useful.
        You should look at the source of validators above to see how this method is used.
    </div>

    <p>To illustrate how powerful this concept is, take a look at the following example.</p>
    <p>Assume that your form uses <a href="/validators/zipCode/">zipCode validator</a> to validate a zipcode. The next sections show you how to use four ways above to define option value.</p>

    <p>You can use the following sample zipcodes for testing:</p>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Country</th>
                <th>Valid Zipcode</th>
                <th>Invalid Zipcode</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>United States</td>
                <td>12345</td>
                <td>123</td>
            </tr>
            <tr>
                <td>Italy</td>
                <td>IT-12345</td>
                <td>123</td>
            </tr>
        </tbody>
    </table>

    <h4 id="dynamic-option-string">Using string as usual</h4>

    <p>It's easy for you if the country code option is set initially and can't be changed:</p>

{% highlight javascript %}
$(document).ready(function() {
    $('#zipcodeForm').bootstrapValidator({
        fields: {
            code: {
                validators: {
                    zipCode: {
                        country: 'US',
                        message: 'The value is not valid zipcode'
                    }
                }
            }
        }
    });
});
{% endhighlight %}

    <div class="doc-demo">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#zipcode-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#zipcode-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#zipcode-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="zipcode-form-tab">
            {% include settings/validator/zipcode-example.html %}
            </div>

            <div class="tab-pane" id="zipcode-html-tab">
{% highlight html %}
{% include settings/validator/zipcode-example.html %}
{% endhighlight %}
            </div>

            <div class="tab-pane" id="zipcode-js-tab">
{% highlight javascript %}
{% include settings/validator/zipcode-example.js %}
{% endhighlight %}
            </div>
        </div>
    </div>

    <p>What happen if you want the country to be changeable, for example, by a select element. With the dynamic option concept, it can be done easily by setting the <code>country</code> option as:</p>

    <h4 id="dynamic-option-element">Using name of element defining the option value</h4>
{% highlight html %}
<!-- The element for choosing a country -->
<select class="form-control" name="countrySelectBox">
    <option value="US">United States</option>
    <option value="CA">Canada</option>
    <option value="DK">Denmark</option>
    <option value="IT">Italy</option>
    <option value="NL">Netherlands</option>
    <option value="SE">Sweden</option>
    <option value="GB">United Kingdom</option>
</select>
{% endhighlight %}

{% highlight javascript %}
$(document).ready(function() {
    $('#zipcodeElementForm').bootstrapValidator({
        fields: {
            code: {
                validators: {
                    zipCode: {
                        country: 'countrySelectBox',
                        message: 'The value is not valid zipcode'
                    }
                }
            }
        }
    });
});
{% endhighlight %}

    <div class="doc-demo">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#zipcode-element-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#zipcode-element-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#zipcode-element-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="zipcode-element-form-tab">
            {% include settings/validator/zipcode-element-example.html %}
            </div>

            <div class="tab-pane" id="zipcode-element-html-tab">
{% highlight html %}
{% include settings/validator/zipcode-element-example.html %}
{% endhighlight %}
            </div>

            <div class="tab-pane" id="zipcode-element-js-tab">
{% highlight javascript %}
{% include settings/validator/zipcode-element-example.js %}
{% endhighlight %}
            </div>
        </div>
    </div>

    <h4 id="dynamic-option-function-name">Using name of function returning the option value</h4>

{% highlight html %}
<!-- The element for choosing a country -->
<select class="form-control" name="countrySelectBox">
    <option value="US">United States</option>
    <option value="CA">Canada</option>
    <option value="DK">Denmark</option>
    <option value="IT">Italy</option>
    <option value="NL">Netherlands</option>
    <option value="SE">Sweden</option>
    <option value="GB">United Kingdom</option>
</select>
{% endhighlight %}

{% highlight javascript %}
function getCountryCode(value, validator, $field) {
    // Return the selected country code
    return $('[name="countrySelectBox"]').val();

    // You can use getFieldElements() method
    // return validator.getFieldElements('countrySelectBox').val();
};

$(document).ready(function() {
    $('#zipcodeFunctionNameForm').bootstrapValidator({
        fields: {
            code: {
                validators: {
                    zipCode: {
                        country: 'getCountryCode',
                        message: 'The value is not valid zipcode'
                    }
                }
            }
        }
    });
});
{% endhighlight %}

    <div class="doc-demo">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#zipcode-function-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#zipcode-function-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#zipcode-function-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="zipcode-function-form-tab">
            {% include settings/validator/zipcode-function-example.html %}
            </div>

            <div class="tab-pane" id="zipcode-function-html-tab">
{% highlight html %}
{% include settings/validator/zipcode-function-example.html %}
{% endhighlight %}
            </div>

            <div class="tab-pane" id="zipcode-function-js-tab">
{% highlight javascript %}
{% include settings/validator/zipcode-function-example.js %}
{% endhighlight %}
            </div>
        </div>
    </div>

    <h4 id="dynamic-option-callback">Using function returning the option value</h4>

{% highlight javascript %}
$(document).ready(function() {
    $('#zipcodeElementForm').bootstrapValidator({
        fields: {
            code: {
                validators: {
                    zipCode: {
                        country: function(value, validator, $field) {
                            return $('[name="countrySelectBox"]').val();

                            // You can use getFieldElements() method
                            // return validator.getFieldElements('countrySelectBox').val();
                        },
                        message: 'The value is not valid zipcode'
                    }
                }
            }
        }
    });
});
{% endhighlight %}

    <div class="doc-demo">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#zipcode-callback-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#zipcode-callback-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#zipcode-callback-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="zipcode-callback-form-tab">
            {% include settings/validator/zipcode-callback-example.html %}
            </div>

            <div class="tab-pane" id="zipcode-callback-html-tab">
{% highlight html %}
{% include settings/validator/zipcode-callback-example.html %}
{% endhighlight %}
            </div>

            <div class="tab-pane" id="zipcode-callback-js-tab">
{% highlight javascript %}
{% include settings/validator/zipcode-callback-example.js %}
{% endhighlight %}
            </div>
        </div>
    </div>
</section>

<script>
{% include settings/validator/zipcode-example.js %}
{% include settings/validator/zipcode-element-example.js %}
{% include settings/validator/zipcode-function-example.js %}
{% include settings/validator/zipcode-callback-example.js %}
</script>