<form id="dynamicMessageForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Country:</label>
        <div class="col-sm-5">
            <select class="form-control" name="countrySelectBox">
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="DK">Denmark</option>
                <option value="IT">Italy</option>
                <option value="NL">Netherlands</option>
                <option value="SE">Sweden</option>
                <option value="GB">United Kingdom</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label">Zipcode</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="code" />
        </div>
    </div>
</form>