<!-- Include Summernote CSS files -->
<link href="//oss.maxcdn.com/summernote/0.5.1/summernote.css" rel="stylesheet">
<link href="//oss.maxcdn.com/summernote/0.5.1/summernote-bs3.css" rel="stylesheet">

<!-- Include Summernote JS file -->
<script src="//oss.maxcdn.com/summernote/0.5.1/summernote.min.js"></script>

<form id="summernoteForm" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Post title</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="title" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Post content</label>
        <div class="col-sm-9">
            <textarea class="form-control" name="content" style="height: 400px;"></textarea>
        </div>
    </div>
</form>