<form id="dynamicOptionForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Number of floors</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="numFloors" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Your floor</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="floor" />
        </div>
    </div>
</form>