<form id="uriForm" class="form-horizontal"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

    <div class="form-group">
        <label class="col-sm-3 control-label">Your website</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="website"
                data-bv-uri="true"
                data-bv-uri-message="The website address is not valid" />
        </div>
    </div>
</form>