<form id="profileForm" class="form-horizontal"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

    <div class="form-group">
        <label class="col-sm-3 control-label">Birthday</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="birthday" placeholder="YYYY/MM/DD"
                data-bv-date="true"
                data-bv-date-format="YYYY/MM/DD"
                data-bv-date-message="The value is not a valid date" />
        </div>
    </div>
</form>