<form id="vatForm" class="form-horizontal"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

    <div class="form-group">
        <label class="col-sm-3 control-label">VAT number</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="vat"
                data-bv-vat="true"
                data-bv-vat-message="The VAT number is not valid" />
        </div>
    </div>
</form>