<form id="ibanForm" class="form-horizontal"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

    <div class="form-group">
        <label class="col-sm-3 control-label">IBAN</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="iban"
                data-bv-iban="true"
                data-bv-iban-message="The value is not valid IBAN" />
        </div>
    </div>
</form>