---
layout: default
title: Adding dynamic field
permalink: /examples/adding-dynamic-field/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Adding dynamic field</h1>
        <p>&larr; <a href="/examples/">Examples</a></p>
        {% include edit-button.html %}
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>When working with complex form, the fields might be added to (or remove from) the form dynamically. The newly added fields also need to be validated.</p>
                <p>This example demonstrates a sample scenario where you have to solve validating dynamic fields problem.</p>
                <p>Before going to the details, there are some methods and events you need to know:</p>

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Method/Event</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="/api/#add-field">addField()</a> method</td>
                            <td>Adding new field</td>
                        </tr>
                        <tr>
                            <td><a href="/api/#remove-field">removeField()</a> method</td>
                            <td>Removing given field</td>
                        </tr>
                        <tr>
                            <td><a href="/settings/#event-form">added.field.bv</a> event</td>
                            <td>Called after adding new field</td>
                        </tr>
                        <tr>
                            <td><a href="/settings/#event-form">removed.field.bv</a> event</td>
                            <td>Called after removing given field</td>
                        </tr>
                    </tbody>
                </table>

                <p>Assuming that you are managing a survey which consists of a question and some options that user can choose from. The form allows you to add more options but the number of options can't exceed 5.</p>

                <div class="doc-demo">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#survey-form-tab" data-toggle="tab">Try it</a></li>
                        <li><a href="#survey-html-tab" data-toggle="tab">HTML</a></li>
                        <li><a href="#survey-js-tab" data-toggle="tab">JS</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="survey-form-tab">
                        {% include examples/adding-dynamic-field/example.html %}
                        </div>

                        <div class="tab-pane" id="survey-html-tab">
                        {% highlight html %}
                        {% include examples/adding-dynamic-field/example.html %}
                        {% endhighlight %}
                        </div>

                        <div class="tab-pane" id="survey-js-tab">
                        {% highlight javascript %}
                        {% include examples/adding-dynamic-field/example.js %}
                        {% endhighlight %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
{% include examples/adding-dynamic-field/example.js %}
</script>