---
layout: default
title: Enabling validators
permalink: /examples/enable-validator/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Enabling validators</h1>
        <p>&larr; <a href="/examples/">Examples</a></p>
        {% include edit-button.html %}
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>This example demonstrates how to enable/disable validators on the fly.</p>

                <p>You might need two things:</p>

                <ul class="doc-list">
                    <li>The <a href="/settings/#field-enabled">enabled</a> option: This option is used to enable/disable the field validators initially.</li>
                    <li>The <a href="/api/#enable-field-validators">enableFieldValidators()</a> method: This method enables/disables the field validators.</li>
                </ul>

                <p>In the following form, the new password is not required. Its validators are disabled. When user set the password, the validators will be enabled.</p>

                <div class="doc-demo">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#enable-form-tab" data-toggle="tab">Try it</a></li>
                        <li><a href="#enable-html-tab" data-toggle="tab">HTML</a></li>
                        <li><a href="#enable-js-tab" data-toggle="tab">JS</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="enable-form-tab">
                        {% include examples/enable-validator/example.html %}
                        </div>

                        <div class="tab-pane" id="enable-html-tab">
{% highlight html %}
{% include examples/enable-validator/example.html %}
{% endhighlight %}
                        </div>

                        <div class="tab-pane" id="enable-js-tab">
{% highlight javascript %}
{% include examples/enable-validator/example.js %}
{% endhighlight %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
{% include examples/enable-validator/example.js %}
</script>