---
layout: default
title: Enabling the submit button all the time
permalink: /examples/enabling-submit-button/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Enabling the submit button all the time</h1>
        <p>&larr; <a href="/examples/">Examples</a></p>
        {% include edit-button.html %}
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <section>
                    <h2>Always enable the submit button</h2>

                    <p>By default, the submit buttons will be disabled if there is at least one invalid field.</p>
                    <p>If you want to enable the submit buttons all the time, triggering the <a href="/settings/#event-field">error.field.bv</a>, <a href="/settings/#event-field">success.field.bv</a> event and using the <a href="/api/#disable-submit-buttons">disableSubmitButtons()</a> method:</p>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#always-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#always-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#always-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="always-form-tab">
                            {% include examples/enabling-submit-button/always-example.html %}
                            </div>

                            <div class="tab-pane" id="always-html-tab">
{% highlight html %}
{% include examples/enabling-submit-button/always-example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="always-js-tab">
{% highlight javascript %}
{% include examples/enabling-submit-button/always-example.js %}
{% endhighlight %}
                            </div>
                        </div>
                    </div>

                    <p>If you want the submit button to be enabled only after clicking it, use the <a href="/api/#get-submit-button">getSubmitButton()</a> method to check whether or not the submit button is clicked:</p>

{% highlight javascript  %}
$(document).ready(function() {
    $('#alwaysEnableButtonForm')
        .bootstrapValidator({
            ...
        })
        .on('error.field.bv', function(e, data) {
            if (data.bv.getSubmitButton()) {
                data.bv.disableSubmitButtons(false);
            }
        })
        .on('success.field.bv', function(e, data) {
            if (data.bv.getSubmitButton()) {
                data.bv.disableSubmitButtons(false);
            }
        });
});
{% endhighlight %}
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Only enable the submit button if all fields are valid</h2>

                    <p>We can use the <a href="/api/#is-valid">isValid()</a> method to check if all fields are valid.</p>

                    <div class="doc-alert doc-alert-warning">
                        The <a href="/api/#is-valid">isValid()</a> method returns correct value if the form is already validated (by either pressing the submit button or calling <a href="/api/#validate">validate()</a> directly).
                        This example is supposed to work if all fields are empty which is mostly suitable for creating record form.
                    </div>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#enable-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#enable-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#enable-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="enable-form-tab">
                            {% include examples/enabling-submit-button/enable-example.html %}
                            </div>

                            <div class="tab-pane" id="enable-html-tab">
{% highlight html %}
{% include examples/enabling-submit-button/enable-example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="enable-js-tab">
{% highlight javascript %}
{% include examples/enabling-submit-button/enable-example.js %}
{% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
{% include examples/enabling-submit-button/always-example.js %}
{% include examples/enabling-submit-button/enable-example.js %}
</script>