---
layout: default
title: Showing valid message
permalink: /examples/showing-valid-message/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Showing valid message</h1>
        <p>&larr; <a href="/examples/">Examples</a></p>
        {% include edit-button.html %}
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <section>
                    <p>The plugin only provides <a href="/settings/#field-message">error message</a> option which is shown when the field is invalid. Is it possible to add a valid message option shown if the field is valid?</p>
                    <p>The quick answer is YES. This example shows you how to implement this feature.</p>
                    <p>Assuming that our form has two text boxes which are username and password.</p>

{% highlight html %}
<form id="signupForm" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Username</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="username" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Password</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" name="password" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-5 col-sm-offset-3">
            <button type="submit" class="btn btn-default">Signup</button>
        </div>
    </div>
</form>
{% endhighlight %}

                    <p>As usual, the plugin is called by following snippet code:</p>

{% highlight javascript %}
$(document).ready(function() {
    $('#signupForm').bootstrapValidator({
        feedbackIcons: {
            ...
        },
        fields: {
            username: {
                validators: {
                    ...
                }
            },
            password: {
                validators: {
                    ...
                }
            }
        }
    });
});
{% endhighlight %}

                    <p>The implementation idea consists of four steps as following.</p>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Adding valid message option</h2>

                    <p>I add an option named <code>validMessage</code> for each field. As the name suggests, the plugin will show the valid message when the field is valid.</p>

{% highlight javascript %}
$(document).ready(function() {
    $('#signupForm').bootstrapValidator({
        feedbackIcons: {
            ...
        },
        fields: {
            username: {
                validMessage: 'The username looks great',
                validators: {
                    ...
                }
            },
            password: {
                validMessage: 'The password is good',
                validators: {
                    ...
                }
            }
        }
    });
});
{% endhighlight %}

                    <p>We can get the option value later via the <a href="/api/#get-options"><code>getOptions()</code> method</a>.</p>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Creating an element that shows the invalid message</h2>

                    <p>Basically, you can place the valid message anywhere you want as long as you can retrieve it later.</p>
                    <p>Behind the scenes, BootstrapValidator places each error message in a <code>span</code> element. The field error messages are placed inside an element which can be retrieved by <code>$field.data('bv.messages')</code>.</p>
                    <p>To make the example easily to follow, I simply create a <code>span</code> element right after each field for showing the valid message:</p>

{% highlight html %}
<form id="signupForm" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Username</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="username" />
            <span class="help-block validMessage"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Password</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" name="password" />
            <span class="help-block validMessage"></span>
        </div>
    </div>

    ...
</form>
{% endhighlight %}

                    <p>In fact, the number of fields might be greater than two as in our example. Therefore, it is much better if these valid message elements are created dynamically. It's quite easy to do it by triggering the <a href="/settings/#event-field"><code>init.field.bv</code> event</a>:</p>

{% highlight javascript %}
$(document).ready(function() {
    $('#signupForm')
        .on('init.field.bv', function(e, data) {
            var field  = data.field,        // Get the field name
                $field = data.element,      // Get the field element
                bv     = data.bv;           // BootstrapValidator instance

            // Create a span element to show valid message
            // and place it right before the field
            var $span = $('<small/>')
                            .addClass('help-block validMessage')
                            .attr('data-field', field)
                            .insertAfter($field)
                            .hide();

            // Retrieve the valid message via getOptions()
            var message = bv.getOptions(field).validMessage;

            if (message) {
                $span.html(message);
            }
        })
        .bootstrapValidator({
            ...
        });
});
{% endhighlight %}
                    <div class="doc-alert doc-alert-info">
                        The init.field.bv event is triggered after the field is initialized by the plugin. In order to trigger the event, you must declare .on('init.field.bv') before calling bootstrapValidator(options).
                    </div>

                    <p>In step 2 above, the custom option <code>validMessage</code> is determined by using the <a href="/api/#get-options"><code>getOptions()</code> method</a>.</p>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Showing the valid message when the field is valid</h2>

                    <p>Triggering the <a href="/settings/#event-field"><code>success.field.bv</code> event</a> to do that:</p>

{% highlight javascript %}
$(document).ready(function() {
    $('#signupForm')
        .on('init.field.bv', function(e, data) {
            ...
        })
        .bootstrapValidator({
            ...
        })
        .on('success.field.bv', function(e, data) {
            var field  = data.field,        // Get the field name
                $field = data.element;      // Get the field element

            // Retrieve the valid message element
            $field
                .next('.validMessage[data-field="' + field + '"]')
                .show();  // Show it
        });
});
{% endhighlight %}
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Hiding the valid message when the field is invalid</h2>

                    <p>Finally, being similar to the step 3, the valid message must be hidden when the field turns to be invalid. It can be done via the <a href="/settings/#event-field"><code>error.field.bv</code> event</a>:</p>

{% highlight javascript %}
$(document).ready(function() {
    $('#signupForm')
        .on('init.field.bv', function(e, data) {
            ...
        })
        .bootstrapValidator({
            ...
        })
        .on('success.field.bv', function(e, data) {
            ...
        })
        .on('error.field.bv', function(e, data) {
            var field  = data.field,        // Get the field name
                $field = data.element;      // Get the field element

            // Hide the valid message element
            $field
                .next('.validMessage[data-field="' + field + '"]')
                .hide();
        });
});
{% endhighlight %}
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Final result</h2>

                    <p>Below is the final working example:</p>
                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#example-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#example-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#example-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="example-form-tab">
                            {% include examples/showing-valid-message/example.html %}
                            </div>

                            <div class="tab-pane" id="example-html-tab">
{% highlight html %}
{% include examples/showing-valid-message/example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="example-js-tab">
{% highlight javascript %}
{% include examples/showing-valid-message/example.js %}
{% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
{% include examples/showing-valid-message/example.js %}
</script>