---
layout: default
title: choice validator
permalink: /validators/choice/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>choice validator</h1>
        <p>Check if the number of checked boxes are less or more than a given number</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <p>The validator also supports the <code>select</code> element if the <code>multiple="multiple"</code> attribute is set.</p>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>max</code></td>
                                <td><code>data-bv-choice-max</code></td>
                                <td>Number</td>
                                <td>The maximum number of check boxes required to be checked.<br/>It's a <a href="/settings/#dynamic-option">dynamic option</a></td>
                            </tr>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-choice-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                            <tr>
                                <td><code>min</code></td>
                                <td><code>data-bv-choice-min</code></td>
                                <td>Number</td>
                                <td>The minimum number of check boxes required to be checked.<br/>It's a <a href="/settings/#dynamic-option">dynamic option</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <p>At least one of <code>min</code> and <code>max</code> option is required.</p>

                    <div class="doc-alert doc-alert-info">
                        When setting options via HTML attributes, remember to enable the validator by setting data-bv-choice="true".
                    </div>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Naming convention</h2>

                    <p>In order to get the correct submit data in the server side, you should pay attention on setting the <code>name</code> attribute of checkbox/select elements.</p>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Server side</th>
                                <th>name attribute</th>
                                <th>Example</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PHP</td>
                                <td><code>name[]</code></td>
                                <td>
{% highlight html %}
<input type="checkbox" name="languages[]" />
<select name="editors[]" multiple="multiple"></select>
{% endhighlight %}
                                </td>
                            </tr>
                            <tr>
                                <td><a href="http://projects.spring.io/spring-framework/">Spring framework</a></td>
                                <td><code>name</code></td>
                                <td>
{% highlight html %}
<input type="checkbox" name="languages" />
<select name="editors" multiple="multiple"></select>
{% endhighlight %}
</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Example</h2>

                    <p>The following form asks a developer to choose 2-4 programming languages which he/she is good at:</p>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#choice-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#choice-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#choice-js-tab" data-toggle="tab">JS</a></li>
                            <li><a href="#choice-declarative-tab" data-toggle="tab">Declarative usage</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="choice-form-tab">
                            {% include validators/choice/example.html %}
                            </div>

                            <div class="tab-pane" id="choice-html-tab">
{% highlight html %}
{% include validators/choice/example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="choice-js-tab">
{% highlight javascript %}
{% include validators/choice/example.js %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="choice-declarative-tab">
{% highlight html %}
{% include validators/choice/declarative-example.html %}

<script>
{% include validators/choice/declarative-example.js %}
</script>
{% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>

<script>
{% include validators/choice/example.js %}
</script>