---
layout: default
title: Validate a credit card number
permalink: /validators/creditCard/
related:
    - cvv
    - iban
    - rtn
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>creditCard validator</h1>
        <p>Validate a credit card number</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-creditcard-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="doc-alert doc-alert-info">
                        When setting options via HTML attributes, remember to enable the validator by setting data-bv-creditcard="true".
                    </div>

                    <div class="doc-alert doc-alert-info">
                        Behind the scene, in addition to using the <a href="http://en.wikipedia.org/wiki/Luhn">Luhn algorithm</a>, the validator also validate the IIN ranges and length of credit card number.
                    </div>

                    <p>It supports validating the following cards:</p>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Example</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>American Express</td>
                                <td><a href="javascript: void(0);" class="sample">340653705597107</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            <tr>
                                <td>Diners Club</td>
                                <td><a href="javascript: void(0);" class="sample">30130708434187</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            <tr>
                                <td>Diners Club (US)</td>
                                <td><a href="javascript: void(0);" class="sample">5517479515603901</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            <tr>
                                <td>Discover</td>
                                <td><a href="javascript: void(0);" class="sample">6011734674929094</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            <tr>
                                <td>JCB</td>
                                <td><a href="javascript: void(0);" class="sample">3566002020360505</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            <tr>
                                <td>Laser</td>
                                <td><a href="javascript: void(0);" class="sample">6304 9000 1774 0292 441</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            <tr>
                                <td>Maestro</td>
                                <td><a href="javascript: void(0);" class="sample">6762835098779303</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            <tr>
                                <td>Mastercard</td>
                                <td><a href="javascript: void(0);" class="sample">5303765013600904</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            <tr>
                                <td>Solo</td>
                                <td><a href="javascript: void(0);" class="sample">6334580500000000</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            <tr>
                                <td>Unionpay</td>
                                <td><a href="javascript: void(0);" class="sample"></a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            <tr>
                                <td>Visa</td>
                                <td><a href="javascript: void(0);" class="sample">4929248980295542</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="doc-alert doc-alert-info">
                        13 digits Visa credit cards are no longer used and it will be treated as an invalid card number.
                    </div>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Example</h2>

                    <div class="doc-alert doc-alert-info">
                        You can use <a href="http://www.getcreditcardnumbers.com">www.getcreditcardnumbers.com</a> to generate fake credit card numbers.
                    </div>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#cc-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#cc-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#cc-js-tab" data-toggle="tab">JS</a></li>
                            <li><a href="#cc-declarative-tab" data-toggle="tab">Declarative usage</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="cc-form-tab">
                            {% include validators/creditCard/example.html %}
                            </div>

                            <div class="tab-pane" id="cc-html-tab">
{% highlight html %}
{% include validators/creditCard/example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="cc-js-tab">
{% highlight javascript %}
{% include validators/creditCard/example.js %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="cc-declarative-tab">
{% highlight html %}
{% include validators/creditCard/declarative-example.html %}

<script>
{% include validators/creditCard/declarative-example.js %}
</script>
{% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>

                <div class="doc-hr"></div>

                {% include related.html %}
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>

<script>
{% include validators/creditCard/example.js %}
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#creditCardForm').find('input[name="cc"]').val($(this).html());

        $('#creditCardForm').bootstrapValidator('revalidateField', 'cc');

        var isValid = $('#creditCardForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });
});
</script>