---
layout: default
title: Validate a CVV number
permalink: /validators/cvv/
related:
    - creditCard
    - iban
    - rtn
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>cvv validator</h1>
        <p>Validate a CVV number</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>creditCardField</code></td>
                                <td><code>data-bv-cvv-ccfield</code></td>
                                <td>String</td>
                                <td>The credit card number field. It is <code>null</code> by default</td>
                            </tr>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-cvv-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="doc-alert doc-alert-info">
                        When setting options via HTML attributes, remember to enable the validator by setting data-bv-cvv="true".
                    </div>

                    <p>If the <code>creditCardField</code> is set, the validator will check if the CVV number is suitable with the credit card number of not.</p>
                    <p>In the details, the American Express card only accepts 4 digits CVV number, while other cards only accept 3 digits CVV number.</p>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Example</h2>

                    <p>The following form also validates the CVV number based on the credit card number.</p>

                    <div class="doc-alert doc-alert-info">
                        You can use <a href="http://www.getcreditcardnumbers.com">www.getcreditcardnumbers.com</a> to generate fake credit card numbers.
                    </div>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#cvv-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#cvv-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#cvv-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="cvv-form-tab">
                            {% include validators/cvv/example.html %}
                            </div>

                            <div class="tab-pane" id="cvv-html-tab">
{% highlight html %}
{% include validators/cvv/example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="cvv-js-tab">
{% highlight javascript %}
{% include validators/cvv/example.js %}
{% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>

                <div class="doc-hr"></div>

                {% include related.html %}
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>

<script>
{% include validators/cvv/example.js %}
</script>