---
layout: default
title: Validate a date
permalink: /validators/date/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>date validator</h1>
        <p>Validate a date</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>format</code><sup>*</sup></td>
                                <td><code>data-bv-date-format</code></td>
                                <td>String</td>
                                <td>The date format. It is <code>MM/DD/YYYY</code>, by default</td>
                            </tr>
                            <tr>
                                <td><code>max</code></td>
                                <td><code>data-bv-date-max</code></td>
                                <td>String</td>
                                <td>The value must be earlier than this option</td>
                            </tr>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-date-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                            <tr>
                                <td><code>min</code></td>
                                <td><code>data-bv-date-min</code></td>
                                <td>String</td>
                                <td>The value must be later than this option</td>
                            </tr>
                            <tr>
                                <td><code>separator</code></td>
                                <td><code>data-bv-date-separator</code></td>
                                <td>String</td>
                                <td>Used to separate the day, month, and year. It is <code>/</code>, by default</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="doc-alert doc-alert-info">
                        When setting options via HTML attributes, remember to enable the validator by setting data-bv-date="true".<br/>
                        You don't need to do that when using HTML 5 type="date" attribute (the format then will be forced to be YYYY/MM/DD).
                    </div>

                    <p>The <code>format</code> can combine date, time, and AM/PM indicator sections:</p>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Section</th>
                                <th>Token</th>
                                <th>Separator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Date</td>
                                <td>DD, MM, YYYY</td>
                                <td>Defined by the <code>separator</code> option.<br/>Most popular examples are a slash (/), hyphen (-), or dot (.)</td>
                            </tr>
                            <tr>
                                <td>Time</td>
                                <td>h, m, s</td>
                                <td>a colon (:)</td>
                            </tr>
                            <tr>
                                <td>AM/PM</td>
                                <td>A</td>
                                <td>n/a</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="doc-alert doc-alert-info">
                        The date validator requires day, month and year. If you are looking for hour and time validator, HH:mm, for example, you should use the <a href="/validators/regexp/">regexp</a> validator.
                        See the <a href="/validators/regexp/#html-5-example">time</a> example.
                    </div>

                    <p>The following table describes the token meanings, defined by <a href="http://momentjs.com/docs/#/displaying/format/">momentjs</a>, one of most popular Javascript datetime library:</p>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Token</th>
                                <th>Description</th>
                                <th>Required</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>MM</td>
                                <td>Month number</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>DD</td>
                                <td>Day of month</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>YYYY</td>
                                <td>4 digit year</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>h</td>
                                <td>12 hour time</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>m</td>
                                <td>Minutes</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>s</td>
                                <td>Seconds</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>AM/PM</td>
                                <td>No</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>Below are some example of possible formats:</p>
                    <ul class="doc-list">
                        <li>YYYY/DD/MM</li>
                        <li>YYYY/DD/MM h</li>
                        <li>YYYY/DD/MM h A</li>
                        <li>YYYY/DD/MM h:m</li>
                        <li>YYYY/DD/MM h:m A</li>
                        <li>YYYY/DD/MM h:m:s</li>
                        <li>YYYY/DD/MM h:m:s A</li>
                        <li>YYYY-MM-DD</li>
                        <li>YYYY-MM-DD h:m A</li>
                        <li>DD/MM/YYYY</li>
                        <li>DD/MM/YYYY h:m A</li>
                        <li>MM-DD-YYYY</li>
                        <li>MM-DD-YYYY h:m A</li>
                        <li>DD-MM-YYYY</li>
                        <li>DD-MM-YYYY h:m A</li>
                    </ul>

                    <p>It's possible to support other date format by using <a href="/validators/callback/">callback</a> validator as shown in the <a href="#custom-format-example">Custom format example</a>.</p>

                    <div class="doc-alert doc-alert-info">
                        The date validator also checks the number of days in February of leap year. For example, 2000/02/29 is a valid date, while 2001/02/29 is invalid one.
                    </div>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Examples</h2>

                    <h3>Basic example</h3>
                    <p>The following form might be used in a profile setting page:</p>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#example-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#example-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#example-js-tab" data-toggle="tab">JS</a></li>
                            <li><a href="#example-declarative-tab" data-toggle="tab">Declarative usage</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="example-form-tab">
                            {% include validators/date/basic-example.html %}
                            </div>

                            <div class="tab-pane" id="example-html-tab">
{% highlight html %}
{% include validators/date/basic-example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="example-js-tab">
{% highlight javascript %}
{% include validators/date/basic-example.js %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="example-declarative-tab">
{% highlight html %}
{% include validators/date/declarative-example.html %}

<script>
{% include validators/date/declarative-example.js %}
</script>
{% endhighlight %}
                            </div>
                        </div>
                    </div>

                    <h3>Datetime picker example</h3>
                    <p>The form below is an example of using the date validator with <a href="http://eonasdan.github.io/bootstrap-datetimepicker/">Bootstrap Datetime Picker</a>:</p>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#datepicker-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#datepicker-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#datepicker-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="datepicker-form-tab">
                            {% include validators/date/date-picker-example.html %}
                            </div>

                            <div class="tab-pane" id="datepicker-html-tab">
{% highlight html %}
{% include validators/date/date-picker-example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="datepicker-js-tab">
{% highlight javascript %}
{% include validators/date/date-picker-example.js %}
{% endhighlight %}
                            </div>
                        </div>
                    </div>

                    <h3>Custom format example</h3>

                    <p>This example illustrates the ability of validating date in custom format by using the <a href="/validators/callback/">callback</a> validator and <a href="http://momentjs.com/">momentjs</a> to parse/validate.</p>
                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#custom-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#custom-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#custom-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="custom-form-tab">
                            {% include validators/date/custom-format-example.html %}
                            </div>

                            <div class="tab-pane" id="custom-html-tab">
{% highlight html %}
<!-- Include the momentjs library to use later -->
<script src="//oss.maxcdn.com/momentjs/2.8.2/moment.min.js"></script>

{% include validators/date/custom-format-example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="custom-js-tab">
{% highlight javascript %}
{% include validators/date/custom-format-example.js %}
{% endhighlight %}
                            </div>
                        </div>
                    </div>

                    <h3>Date range example</h3>

                    <p>The following form asks you to enter a date in the range of 2000/01/01 and 2020/12/30.</p>
                    <p>It can be implemented by using the <code>min</code> and <code>max</code> options.</p>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#range-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#range-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#range-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="range-form-tab">
                            {% include validators/date/range-example.html %}
                            </div>

                            <div class="tab-pane" id="range-html-tab">
{% highlight html %}
{% include validators/date/range-example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="range-js-tab">
{% highlight javascript %}
{% include validators/date/range-example.js %}
{% endhighlight %}
                            </div>
                        </div>
                    </div>

                    <p>You also can use the <a href="/validators/callback/">callback</a> validator and <a href="http://momentjs.com/docs/#/query/is-before/"><code>isBefore()</code></a>, <a href="http://momentjs.com/docs/#/query/is-after/"><code>isAfter()</code></a> methods provided <a href="http://momentjs.com/">momentjs</a>
                    to check if the date is in the range.</p>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#range-callback-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#range-callback-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#range-callback-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="range-callback-form-tab">
                            {% include validators/date/range-callback-example.html %}
                            </div>

                            <div class="tab-pane" id="range-callback-html-tab">
{% highlight html %}
<!-- Include the momentjs library to use later -->
<script src="//oss.maxcdn.com/momentjs/2.8.2/moment.min.js"></script>

{% include validators/date/range-callback-example.html %}
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="range-callback-js-tab">
{% highlight javascript %}
{% include validators/date/range-callback-example.js %}
{% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>

                <ul class="doc-list">
                    <li><a href="/examples/bootstrap-datepicker/">Integrating with Bootstrap Datepicker</a></li>
                    <li><a href="/examples/pickadate/">Integrating with Pickadate</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>

<script>
{% include validators/date/basic-example.js %}
{% include validators/date/date-picker-example.js %}
{% include validators/date/custom-format-example.js %}
{% include validators/date/range-example.js %}
{% include validators/date/range-callback-example.js %}
</script>