---
layout: default
title: Validate a MEID (mobile equipment identifier)
permalink: /validators/meid/
examples: A00000049259B16, A0-000004-9259B1-6, A0 000004 9259B1 6, 2936087365007037100, 29360-87365-0070-3710-0, 29360 87365 0070 3710 0, AF0123450ABCDE, AF-012345-0ABCDE, AF 012345 0ABCDE, 293608736500703710, 29360-87365-0070-3710, 29360 87365 0070 3710, A00000049259B15, A00000049259B, 2936087365007037101, 29360873650070371
related:
    - imei
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>meid validator</h1>
        <p>Validate a MEID (mobile equipment identifier)</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-meid-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="doc-alert doc-alert-info">
                        When setting options via HTML attributes, remember to enable the validator by setting data-bv-meid="true".
                    </div>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Example</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>MEID</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% assign examples = page.examples | split: ', ' %}
                            {% for meid in examples %}
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">{{ meid }}</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#meid-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#meid-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#meid-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="meid-form-tab">
                            {% include validators/meid/example.html %}
                            </div>

                            <div class="tab-pane" id="meid-html-tab">
                            {% highlight html %}
                            {% include validators/meid/example.html %}
                            {% endhighlight %}
                            </div>

                            <div class="tab-pane" id="meid-js-tab">
                            {% highlight javascript %}
                            {% include validators/meid/example.js %}
                            {% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>

                <div class="doc-hr"></div>

                {% include related.html %}
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>

<script>
{% include validators/meid/example.js %}
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#meidForm').find('input[name="meid"]').val($(this).html());

        $('#meidForm').bootstrapValidator('revalidateField', 'meid');

        var isValid = $('#meidForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });
});
</script>