---
layout: default
title: Check if the value is valid step one
permalink: /validators/step/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>step validator</h1>
        <p>Check if the value is valid step one</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>baseValue</code></td>
                                <td><code>data-bv-step-base</code></td>
                                <td>Float</td>
                                <td>The base value, default to 0</td>
                            </tr>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-step-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                            <tr>
                                <td><code>step</code></td>
                                <td><code>data-bv-step-step</code></td>
                                <td>Float</td>
                                <td>The step, default to 1</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>