---
layout: default
title: Validate an US VIN (Vehicle Identification Number)
permalink: /validators/vin/
examples: 1FAHP26W49G252740, 2FTRX07W53C371582, WP0CA29863U153381, JTMKF4DV5B5309254
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>vin validator</h1>
        <p>Validate an US VIN (Vehicle Identification Number)</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        {% include edit-button.html %}
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-vin-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="doc-alert doc-alert-info">
                        When setting options via HTML attributes, remember to enable the validator by setting data-bv-vin="true".
                    </div>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Example</h2>

                    <div class="doc-alert doc-alert-info">
                        <a href="http://randomvin.com/">randomvin.com</a> helps you generate a random vin for testing
                    </div>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>VIN</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% assign examples = page.examples | split: ', ' %}
                            {% for vin in examples %}
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">{{ vin }}</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#vin-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#vin-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#vin-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="vin-form-tab">
                            {% include validators/vin/example.html %}
                            </div>

                            <div class="tab-pane" id="vin-html-tab">
                            {% highlight html %}
                            {% include validators/vin/example.html %}
                            {% endhighlight %}
                            </div>

                            <div class="tab-pane" id="vin-js-tab">
                            {% highlight javascript %}
                            {% include validators/vin/example.js %}
                            {% endhighlight %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>

<script>
{% include validators/vin/example.js %}
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#vinForm').find('input[name="vin"]').val($(this).html());

        $('#vinForm').bootstrapValidator('revalidateField', 'vin');

        var isValid = $('#vinForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });
});
</script>