<section>
    <h2>Advance</h2>

    <ul class="doc-list">
        <li><a href="/examples/adding-dynamic-field/">Adding dynamic field</a></li>
        <li><a href="/examples/changing-tooltip-position/">Changing tooltip position</a></li>
        <li><a href="/examples/complex-form/">Complex form</a></li>
        <li><a href="/examples/enabling-submit-button/">Enabling the submit button all the time <span class="label label-info">UPDATED</span></a></li>
        <li><a href="/examples/enable-validator/">Enabling validator</a></li>
        <li><a href="/examples/hiding-message/">Hiding messages</a></li>
        <li><a href="/examples/hiding-success-class/">Hiding success class</a></li>
        <li><a href="/examples/overriding-default-options/">Overriding default options</a></li>
        <li><a href="/examples/showing-icon-custom-area/">Showing icons in custom area</a></li>
        <li><a href="/examples/showing-one-message/">Showing only one message each time</a></li>
        <li><a href="/examples/showing-message-custom-area/">Showing messages in custom area</a></li>
        <li><a href="/examples/showing-required-icon/">Showing required icon for the mandatory fields </a></li>
        <li><a href="/examples/showing-valid-message/">Showing valid message</a></li>
        <li><a href="/examples/ajax-submit/">Using Ajax to submit the form</a></li>
        <li><a href="/examples/validating-google-recaptcha/">Validating Google reCAPTCHA</a> <span class="label label-success">NEW</span></li>
    </ul>
</section>