<section>
    <h2>Basic</h2>

    <ul class="doc-list">
        <li><a href="/examples/clearing-field-when-clicking-icon/">Clearing field when clicking the icon</a> <span class="label label-success">NEW</span></li>
        <li><a href="/examples/html5/">Playing with HTML 5 input types and attributes</a></li>
        <li><a href="/examples/requiring-at-least-one-field/">Requiring at least one field</a> <span class="label label-success">NEW</span></li>
        <li><a href="/examples/attribute/">Setting validator options via HTML 5 attributes</a></li>
        <li><a href="/examples/toggle/">Toggling field</a></li>
        <li><a href="/examples/using-language-package/">Using language package</a></li>
        <li><a href="/examples/multiple/">Using multiple elements with the same name</a></li>
        <li><a href="/examples/modal/">Validating a form placed inside a Bootstrap modal</a></li>
    </ul>
</section>