<form id="stringLengthForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Full name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="fullName" />
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label">Bio</label>
        <div class="col-sm-6">
            <textarea rows="5" class="form-control" name="bio"></textarea>
        </div>
    </div>
</form>