<section>
    <h2 id="events">Events</h2>

    <p>Similar to the <a href="#settings-structure">settings</a>, there are also events for form, field and validator. Each event can be set by one of three ways:</p>
    <ul class="doc-list">
        <li>Listening to event using jQuery <code>on(eventName, callback)</code></li>
        <li>Using option</li>
        <li>Using HTML 5 attributes</li>
    </ul>

    {% include settings/event/form.html %}
    {% include settings/event/field.html %}
    {% include settings/event/validator.html %}
</section>