<!doctype html>
<html>
<head>
    <meta charset="utf-8">
<title>Validate an email address - FormValidation</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="BootstrapValidator, a jQuery plugin to validate form fields">
<meta name="keywords" content="Bootstrap, jQuery, validate, plugin, validator, form">
<meta name="author" content="Nguyen Huu Phuoc">
<meta name="google-site-verification" content="uzi08FxE8yqb9q-PlBzFxZeuUGalNFp3gX2haopVWBc" />

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cardo:400,400italic,700">
<link rel="stylesheet" href="/vendor/pygments/github.css">
<link rel="stylesheet" href="/asset/css/style.css">

<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="//oss.maxcdn.com/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//oss.maxcdn.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-44786951-2']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</head>
<body>
    <nav class="doc-nav" tabindex="-1">
    <ul>
        <li><a href="/">Home</a></li>
    
        
            
        
        <li class=""><a href="/download/">Download</a></li>
    
        
            
        
        <li class=""><a href="/getting-started/">Getting Started</a></li>
    
        
            
        
        <li class=""><a href="/settings/">Settings</a></li>
    
        
            
        
        <li class="doc-nav-active"><a href="/validators/">Validators</a></li>
    
        
            
        
        <li class=""><a href="/api/">API</a></li>
    
        
            
        
        <li class=""><a href="/examples/">Examples</a></li>
    
        
            
        
        <li class=""><a href="/developing/">Developing</a></li>
    
        
            
        
        <li class=""><a href="/news/">News</a></li>
    
        
            
        
        <li class=""><a href="/license/">License</a></li>
    
    </ul>

    <div class="doc-hr"></div>

    <ul>
        <li><a href="https://github.com/formvalidation/formvalidation" title="Fork me on Github">Github <i class="fa fa-github"></i></a></li>
        <li><a href="http://twitter.com/formvalidation/" title="Follow me on Twitter">formvalidation <i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/pages/FormValidation/1567908420106565/" title="Like me on Facebook">FormValidation <i class="fa fa-facebook"></i></a></li>
        <li><a href="https://plus.google.com/u/0/communities/114931136856987817254" title="Join me on Google+">Google+ community <i class="fa fa-google-plus"></i></a></li>
    </ul>

    <div class="doc-hr"></div>

    <div class="doc-creator">
        <p>
            Handcrafted with <span class="doc-heart"><i class="fa fa-heart"></i></span> and a lot of <i class="fa fa-coffee"></i><br />
            by <a href="http://twitter.com/nghuuphuoc">@nghuuphuoc</a><br/>
            <img src="http://github.com/nghuuphuoc.png" />
        </p>
        <p><a href="mailto: phuoc@huuphuoc.me" class="btn">Hire me</a></p>
    </div>
</nav>
<button class="btn doc-logo" title="Toggle the navigation"><i class="fa fa-bars"></i></button>

    <div id="main" class="doc-content-wrapper">
        <div class="doc-notification">
    <i class="fa fa-bell-o"></i> <a href="/news/v0.5.3-released/">v0.5.3</a> is released on 2014.11.05!
</div>

        <div class="doc-content-container">
    <div class="doc-heading">
        <h1>emailAddress validator</h1>
        <p>Validate an email address</p>
        <p>&larr; <a href="/validators/">Validators</a></p>
        <a class="btn doc-edit-btn" href="https://github.com/formvalidation/formvalidation.io/edit/master/validators/emailAddress.html">Improve it on Github</a>
        <div id="shareButton" class="doc-share-button"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>HTML attribute</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>message</code></td>
                                <td><code>data-bv-emailaddress-message</code></td>
                                <td>String</td>
                                <td>The error message</td>
                            </tr>
                            <tr>
                                <td><code>multiple</code></td>
                                <td><code>data-bv-emailaddress-multiple</code></td>
                                <td>String</td>
                                <td>Allow multiple email addresses, separated by a comma or semicolon. The default value is <code>false</code></td>
                            </tr>
                            <tr>
                                <td><code>separator</code></td>
                                <td><code>data-bv-emailaddress-separator</code></td>
                                <td>String</td>
                                <td>Regex for character or characters expected as separator between addresses. By default, it is /[,;]/, i.e. comma or semicolon</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="doc-alert doc-alert-info">
                        When setting options via HTML attributes, remember to enable the validator by setting data-bv-emailaddress="true".<br/>
                        You don't need to do that when using HTML 5 type="email" attribute.
                    </div>

                    <div class="doc-alert doc-alert-info">
                        This validator passes an empty field since the field might be optional. If the field is required, then use the <a href="/validators/notEmpty/">notEmpty validator</a>.
                    </div>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Examples</h2>

                    <h3>Basic example</h3>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Email address</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">niceandsimple@example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">very.common@example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">a.little.lengthy.but.fine@dept.example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">disposable.style.email.with+symbol@example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">other.email-with-dash@example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">"much.more unusual"@example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">"very.unusual.@.unusual.com"@example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">"very.(),:;<>[]\".VERY.\"very@\\ \"very\".unusual"@strange.example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">admin@mailserver1</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">!#$%&'*+-/=?^_`{}|~@example.org</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">" "@example.org</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">üñîçøðé@example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">üñîçøðé@üñîçøðé.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">Abc.example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">A@b@c@example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">a"b(c)d,e:f;g<h>i[j\k]l@example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">just"not"right@example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">this is"not\allowed@example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                            <tr>
                                <td><a href="javascript: void(0);" class="sample">this\ still\"not\\allowed@example.com</a></td>
                                <td><i class="fa"></i></td>
                            </tr>
                            
                        </tbody>
                    </table>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#email-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#email-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#email-js-tab" data-toggle="tab">JS</a></li>
                            <li><a href="#email-declarative-tab" data-toggle="tab">Declarative usage</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="email-form-tab">
                            <form id="emailForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Email address</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="email" />
        </div>
    </div>
</form>
                            </div>

                            <div class="tab-pane" id="email-html-tab">
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;form</span> <span class="na">id=</span><span class="s">&quot;emailForm&quot;</span> <span class="na">class=</span><span class="s">&quot;form-horizontal&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">&quot;col-sm-3 control-label&quot;</span><span class="nt">&gt;</span>Email address<span class="nt">&lt;/label&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;col-sm-7&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">class=</span><span class="s">&quot;form-control&quot;</span> <span class="na">name=</span><span class="s">&quot;email&quot;</span> <span class="nt">/&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/form&gt;</span></code></pre></div>
                            </div>

                            <div class="tab-pane" id="email-js-tab">
<div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="nx">$</span><span class="p">(</span><span class="nb">document</span><span class="p">).</span><span class="nx">ready</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">$</span><span class="p">(</span><span class="s1">&#39;#emailForm&#39;</span><span class="p">).</span><span class="nx">bootstrapValidator</span><span class="p">({</span>
        <span class="nx">feedbackIcons</span><span class="o">:</span> <span class="p">{</span>
            <span class="nx">valid</span><span class="o">:</span> <span class="s1">&#39;glyphicon glyphicon-ok&#39;</span><span class="p">,</span>
            <span class="nx">invalid</span><span class="o">:</span> <span class="s1">&#39;glyphicon glyphicon-remove&#39;</span><span class="p">,</span>
            <span class="nx">validating</span><span class="o">:</span> <span class="s1">&#39;glyphicon glyphicon-refresh&#39;</span>
        <span class="p">},</span>
        <span class="nx">fields</span><span class="o">:</span> <span class="p">{</span>
            <span class="nx">email</span><span class="o">:</span> <span class="p">{</span>
                <span class="nx">validators</span><span class="o">:</span> <span class="p">{</span>
                    <span class="nx">emailAddress</span><span class="o">:</span> <span class="p">{</span>
                        <span class="nx">message</span><span class="o">:</span> <span class="s1">&#39;The value is not a valid email address&#39;</span>
                    <span class="p">}</span>
                <span class="p">}</span>
            <span class="p">}</span>
        <span class="p">}</span>
    <span class="p">});</span>
<span class="p">});</span></code></pre></div>
                            </div>

                            <div class="tab-pane" id="email-declarative-tab">
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;form</span> <span class="na">id=</span><span class="s">&quot;emailForm&quot;</span> <span class="na">class=</span><span class="s">&quot;form-horizontal&quot;</span>
    <span class="na">data-bv-feedbackicons-valid=</span><span class="s">&quot;glyphicon glyphicon-ok&quot;</span>
    <span class="na">data-bv-feedbackicons-invalid=</span><span class="s">&quot;glyphicon glyphicon-remove&quot;</span>
    <span class="na">data-bv-feedbackicons-validating=</span><span class="s">&quot;glyphicon glyphicon-refresh&quot;</span><span class="nt">&gt;</span>

    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">&quot;col-sm-3 control-label&quot;</span><span class="nt">&gt;</span>Email address<span class="nt">&lt;/label&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;col-sm-7&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">class=</span><span class="s">&quot;form-control&quot;</span> <span class="na">name=</span><span class="s">&quot;email&quot;</span>
                <span class="na">data-bv-emailaddress=</span><span class="s">&quot;true&quot;</span>
                <span class="na">data-bv-emailaddress-message=</span><span class="s">&quot;The value is not a valid email address&quot;</span> <span class="nt">/&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/form&gt;</span>

<span class="nt">&lt;script&gt;</span>
<span class="nx">$</span><span class="p">(</span><span class="nb">document</span><span class="p">).</span><span class="nx">ready</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">$</span><span class="p">(</span><span class="s1">&#39;#emailForm&#39;</span><span class="p">).</span><span class="nx">bootstrapValidator</span><span class="p">();</span>
<span class="p">});</span>
<span class="nt">&lt;/script&gt;</span></code></pre></div>
                            </div>
                        </div>
                    </div>

                    <h3>HTML 5 example</h3>

                    <p>The emailAddress validator will be enabled automatically when using HTML 5 <code>type="email"</code> attribute.</p>
                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#html5-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#html5-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#html5-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="html5-form-tab">
                            <form id="emailAddressHtml5Form" class="form-horizontal"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

    <div class="form-group">
        <label class="col-sm-3 control-label">Email address</label>
        <div class="col-sm-7">
            <input class="form-control" name="email"
                type="email"
                data-bv-emailaddress-message="The value is not a valid email address" />
        </div>
    </div>
</form>
                            </div>

                            <div class="tab-pane" id="html5-html-tab">
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;form</span> <span class="na">id=</span><span class="s">&quot;emailAddressHtml5Form&quot;</span> <span class="na">class=</span><span class="s">&quot;form-horizontal&quot;</span>
    <span class="na">data-bv-feedbackicons-valid=</span><span class="s">&quot;glyphicon glyphicon-ok&quot;</span>
    <span class="na">data-bv-feedbackicons-invalid=</span><span class="s">&quot;glyphicon glyphicon-remove&quot;</span>
    <span class="na">data-bv-feedbackicons-validating=</span><span class="s">&quot;glyphicon glyphicon-refresh&quot;</span><span class="nt">&gt;</span>

    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">&quot;col-sm-3 control-label&quot;</span><span class="nt">&gt;</span>Email address<span class="nt">&lt;/label&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;col-sm-7&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">&quot;form-control&quot;</span> <span class="na">name=</span><span class="s">&quot;email&quot;</span>
                <span class="na">type=</span><span class="s">&quot;email&quot;</span>
                <span class="na">data-bv-emailaddress-message=</span><span class="s">&quot;The value is not a valid email address&quot;</span> <span class="nt">/&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/form&gt;</span></code></pre></div>
                            </div>

                            <div class="tab-pane" id="html5-js-tab">
<div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="nx">$</span><span class="p">(</span><span class="nb">document</span><span class="p">).</span><span class="nx">ready</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">$</span><span class="p">(</span><span class="s1">&#39;#emailAddressHtml5Form&#39;</span><span class="p">).</span><span class="nx">bootstrapValidator</span><span class="p">();</span>
<span class="p">});</span></code></pre></div>
                            </div>
                        </div>
                    </div>

                    <h3>Is a@b valid email address?</h3>

                    <p>Yes! It's valid email address. If you want to treat these kind of email addresses as invalid one, you can use the <a href="/validators/regexp/">regexp</a> validator to define expression of email address.</p>
                    <p>The following example uses this approach and borrow the idea from <a href="/examples/showing-one-message/">Showing one message</a> example to archive this.</p>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#regexp-form-tab" data-toggle="tab">Try it</a></li>
                            <li><a href="#regexp-html-tab" data-toggle="tab">HTML</a></li>
                            <li><a href="#regexp-js-tab" data-toggle="tab">JS</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="regexp-form-tab">
                            <form id="regexpEmailForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Email address</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="email" />
        </div>
    </div>
</form>
                            </div>

                            <div class="tab-pane" id="regexp-html-tab">
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;form</span> <span class="na">id=</span><span class="s">&quot;regexpEmailForm&quot;</span> <span class="na">class=</span><span class="s">&quot;form-horizontal&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;form-group&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">&quot;col-sm-3 control-label&quot;</span><span class="nt">&gt;</span>Email address<span class="nt">&lt;/label&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;col-sm-7&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">class=</span><span class="s">&quot;form-control&quot;</span> <span class="na">name=</span><span class="s">&quot;email&quot;</span> <span class="nt">/&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/form&gt;</span></code></pre></div>
                            </div>

                            <div class="tab-pane" id="regexp-js-tab">
<div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="nx">$</span><span class="p">(</span><span class="nb">document</span><span class="p">).</span><span class="nx">ready</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">$</span><span class="p">(</span><span class="s1">&#39;#regexpEmailForm&#39;</span><span class="p">)</span>
        <span class="p">.</span><span class="nx">bootstrapValidator</span><span class="p">({</span>
            <span class="nx">feedbackIcons</span><span class="o">:</span> <span class="p">{</span>
                <span class="nx">valid</span><span class="o">:</span> <span class="s1">&#39;glyphicon glyphicon-ok&#39;</span><span class="p">,</span>
                <span class="nx">invalid</span><span class="o">:</span> <span class="s1">&#39;glyphicon glyphicon-remove&#39;</span><span class="p">,</span>
                <span class="nx">validating</span><span class="o">:</span> <span class="s1">&#39;glyphicon glyphicon-refresh&#39;</span>
            <span class="p">},</span>
            <span class="nx">fields</span><span class="o">:</span> <span class="p">{</span>
                <span class="nx">email</span><span class="o">:</span> <span class="p">{</span>
                    <span class="nx">validators</span><span class="o">:</span> <span class="p">{</span>
                        <span class="nx">emailAddress</span><span class="o">:</span> <span class="p">{</span>
                            <span class="nx">message</span><span class="o">:</span> <span class="s1">&#39;The value is not a valid email address&#39;</span>
                        <span class="p">},</span>
                        <span class="nx">regexp</span><span class="o">:</span> <span class="p">{</span>
                            <span class="nx">regexp</span><span class="o">:</span> <span class="s1">&#39;^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$&#39;</span><span class="p">,</span>
                            <span class="nx">message</span><span class="o">:</span> <span class="s1">&#39;The value is not a valid email address&#39;</span>
                        <span class="p">}</span>
                    <span class="p">}</span>
                <span class="p">}</span>
            <span class="p">}</span>
        <span class="p">})</span>
        <span class="p">.</span><span class="nx">on</span><span class="p">(</span><span class="s1">&#39;error.validator.bv&#39;</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">e</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span> <span class="p">{</span>
            <span class="c1">// data.bv        --&gt; The BootstrapValidator instance</span>
            <span class="c1">// data.field     --&gt; The field name</span>
            <span class="c1">// data.element   --&gt; The field element</span>
            <span class="c1">// data.validator --&gt; The current validator name</span>

            <span class="k">if</span> <span class="p">(</span><span class="nx">data</span><span class="p">.</span><span class="nx">field</span> <span class="o">===</span> <span class="s1">&#39;email&#39;</span><span class="p">)</span> <span class="p">{</span>
                <span class="c1">// The email field is not valid</span>
                <span class="nx">data</span><span class="p">.</span><span class="nx">element</span>
                    <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="s1">&#39;bv.messages&#39;</span><span class="p">)</span>
                    <span class="c1">// Hide all the messages</span>
                    <span class="p">.</span><span class="nx">find</span><span class="p">(</span><span class="s1">&#39;.help-block[data-bv-for=&quot;&#39;</span> <span class="o">+</span> <span class="nx">data</span><span class="p">.</span><span class="nx">field</span> <span class="o">+</span> <span class="s1">&#39;&quot;]&#39;</span><span class="p">).</span><span class="nx">hide</span><span class="p">()</span>
                    <span class="c1">// Show only message associated with current validator</span>
                    <span class="p">.</span><span class="nx">filter</span><span class="p">(</span><span class="s1">&#39;[data-bv-validator=&quot;&#39;</span> <span class="o">+</span> <span class="nx">data</span><span class="p">.</span><span class="nx">validator</span> <span class="o">+</span> <span class="s1">&#39;&quot;]&#39;</span><span class="p">).</span><span class="nx">show</span><span class="p">();</span>
            <span class="p">}</span>
        <span class="p">});</span>
<span class="p">});</span></code></pre></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-3">
                <div id="toc" class="doc-toc hidden-print hidden-xs hidden-sm"></div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#emailForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            email: {
                validators: {
                    emailAddress: {
                        message: 'The value is not a valid email address'
                    }
                }
            }
        }
    });
});
$(document).ready(function() {
    $('#emailAddressHtml5Form').bootstrapValidator();
});
$(document).ready(function() {
    $('#regexpEmailForm')
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                email: {
                    validators: {
                        emailAddress: {
                            message: 'The value is not a valid email address'
                        },
                        regexp: {
                            regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                            message: 'The value is not a valid email address'
                        }
                    }
                }
            }
        })
        .on('error.validator.bv', function(e, data) {
            // data.bv        --> The BootstrapValidator instance
            // data.field     --> The field name
            // data.element   --> The field element
            // data.validator --> The current validator name

            if (data.field === 'email') {
                // The email field is not valid
                data.element
                    .data('bv.messages')
                    // Hide all the messages
                    .find('.help-block[data-bv-for="' + data.field + '"]').hide()
                    // Show only message associated with current validator
                    .filter('[data-bv-validator="' + data.validator + '"]').show();
            }
        });
});
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#emailForm')
            .find('input[name="email"]')
                .val($(this).html())
                .end()
            .bootstrapValidator('revalidateField', 'email');

        var isValid = $('#emailForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });
});
</script>

        <footer class="doc-footer">
    <div class="container">
        <p>
            
            <a class="btn" href="/download/">Download</a>
            
            <a class="btn" href="https://github.com/formvalidation/formvalidation/issues">Report bug</a>
        </p>
        <p>
            &copy; 2013 - 2014 <a href="http://twitter.com/nghuuphuoc">Nguyen Huu Phuoc</a>. All rights reserved.<br/>
            Handcrafted with <span class="doc-heart"><i class="fa fa-heart"></i></span> and a lot of <i class="fa fa-coffee"></i>
        </p>
        <ul>
            <li><a href="/getting-started/">Getting started</a></li>
            <li>&middot;</li>
            <li><a href="/settings/">Settings</a></li>
            <li>&middot;</li>
            <li><a href="/validators/">Validators</a></li>
            <li>&middot;</li>
            <li><a href="/api/">API</a></li>
            <li>&middot;</li>
            <li><a href="/examples/">Examples</a></li>
            <li>&middot;</li>
            <li><a href="/developing/">Developing</a></li>
            <li>&middot;</li>
            <li><a href="/news/">News</a></li>
            <li>&middot;</li>
            <li><a href="/license/">License</a></li>
        </ul>
        <ul>
            <li>
                <a href="https://github.com/formvalidation/formvalidation" title="Fork me on Github">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="http://twitter.com/formvalidation/" title="Follow me on Twitter">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/pages/FormValidation/1567908420106565/" title="Like me on Facebook">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/u/0/communities/114931136856987817254" title="Join me on Google+">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>

    
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=bootstrapvalidatorcom" id="_carbonads_js"></script>
    
</footer>
    </div>

<script src="/vendor/tocjs/js/toc.min.js"></script>
<script src="/vendor/share/share.min.js"></script>
<script>
$(function() {
    // Create share button
    new Share('#shareButton');

    $('[data-toggle="tooltip"]').tooltip();

    $('.doc-logo').on('click', function() {
        $('body').toggleClass('doc-nav-shown');
    });

    $('form').each(function() {
        $(this).on('success.form.bv', function(e) {
            e.preventDefault();
        });
    });

    // Create table of contents
    if ($('#toc').length) {
        $('#toc')
            .css('max-width', $('#toc').width())
            .toc({
                selector: '#main h2, #main h3, #main h4, #main h5, #main h6',
                elementClass: 'toc',
                ulClass: 'nav',
                indexingFormats: '______'
            });

        var $window = $(window),
            $body   = $(document.body);
        $body.scrollspy({
            target: '#toc'
        });

        $window.on('load', function() {
            $body.scrollspy('refresh');
        });

        setTimeout(function() {
            var $sideBar = $('#toc');
            $sideBar.affix({
                offset: {
                    top: function() {
                        return (this.top = $sideBar.offset().top);
                    }
                }
            });
        }, 100);
    }
});
</script>
</body>
</html>