<form id="cusipForm" class="form-horizontal"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

    <div class="form-group">
        <label class="col-sm-3 control-label">CUSIP</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="cusip"
                data-bv-cusip="true"
                data-bv-cusip-message="The value is not valid CUSIP" />
        </div>
    </div>
</form>