<form id="colorForm" class="form-horizontal"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

    <div class="form-group">
        <label class="col-sm-3 control-label">Color</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="color"
                data-bv-hexcolor="true"
                data-bv-hexcolor-message="The color code is not valid" />
        </div>
    </div>
</form>