<form id="colorForm" class="form-horizontal"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

    <div class="form-group">
        <label class="col-sm-3 control-label">Color</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="color"
                data-bv-color="true"
                data-bv-color-type="hex,hsl,hsla,keyword,rgb,rgba"
                data-bv-color-message="The value is not valid color" />
        </div>
    </div>
</form>