<!doctype html>
<html>
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}

    <div id="main" class="doc-content-wrapper">
        {% include notification.html %}

        {{ content }}

        {% include footer.html %}
    </div>

<script src="/vendor/tocjs/js/toc.min.js"></script>
<script src="/vendor/share/share.min.js"></script>
<script>
$(function() {
    // Create share button
    new Share('#shareButton');

    $('[data-toggle="tooltip"]').tooltip();

    $('.doc-logo').on('click', function() {
        $('body').toggleClass('doc-nav-shown');
    });

    $('form').each(function() {
        $(this).on('success.form.bv', function(e) {
            e.preventDefault();
        });
    });

    // Create table of contents
    if ($('#toc').length) {
        $('#toc')
            .css('max-width', $('#toc').width())
            .toc({
                selector: '#main h2, #main h3, #main h4, #main h5, #main h6',
                elementClass: 'toc',
                ulClass: 'nav',
                indexingFormats: '______'
            });

        var $window = $(window),
            $body   = $(document.body);
        $body.scrollspy({
            target: '#toc'
        });

        $window.on('load', function() {
            $body.scrollspy('refresh');
        });

        setTimeout(function() {
            var $sideBar = $('#toc');
            $sideBar.affix({
                offset: {
                    top: function() {
                        return (this.top = $sideBar.offset().top);
                    }
                }
            });
        }, 100);
    }
});
</script>
</body>
</html>