<form id="fileForm" class="form-horizontal" enctype="multipart/form-data"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

    <div class="form-group">
        <label class="col-sm-3 control-label">Avatar</label>
        <div class="col-sm-4">
            <input type="file" class="form-control" name="avatar"
                data-bv-file="true"
                data-bv-file-extension="jpeg,png"
                data-bv-file-type="image/jpeg,image/png"
                data-bv-file-maxsize="2097152"
                data-bv-file-message="The selected file is not valid" />
        </div>
    </div>
</form>