<section>
    <h3 id="form-live">live: String</h3>

    <p>Live validating mode. Can be one of three values:</p>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Value</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>enabled</code> <span class="label label-default">default</span></td>
                <td>The plugin validates fields as soon as they are changed</td>
            </tr>
            <tr>
                <td><code>disabled</code></td>
                <td>Disable the live validating. The error messages are only shown after the form is submitted</td>
            </tr>
            <tr>
                <td><code>submitted</code></td>
                <td>The live validating is enabled after the form is submitted</td>
            </tr>
        </tbody>
    </table>
</section>